extends layout

block content
  div(style="height:200px")
  .text-center(style='height:300px')
    h1 欢迎来到myblog
    p myblog是一个基于node.js的微博系统
    p
      a(class="btn btn-primary",href='/login') 登录
      span   
      a.btn.btn-primary(href='/reg') 立即注册
